.ContentCard {
  background-color: #36393E;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  height: 100%;
  margin: auto;
  margin-top: -125px;
  position: relative;
  width: 90%;
  z-index: 5;
}

.ContentHeader {
  padding: 12px;
}

.Content {
  background-color: #36393E;
  height: 750px;
}

.Title {
  font-size: 42px;
  font-weight: 100;
  padding: 24px 0;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.Row {
  display: flex;
  padding: 0 24px;
  margin-bottom: 24px;
}

.LeftColumn {
  flex: 1 1 65%;
}

.RightColumn {
  flex: 1 1 35%;
  padding-top: 24px;
}

.DraftRoot {
  padding-right: 12px;
}
