.Header {
  -webkit-mask-image: -webkit-linear-gradient(top, black 40%, transparent 95%);
  background-repeat: no-repeat;
  background-attachment: center;
  background-size: 100% 100%;
  height: 500px;
  position: relative;
  z-index: -1;
}

.HeaderContent {
  bottom: 15px;
  left: 15px;
  position: absolute;
  display: none;
}

.Title {
  font-size: 64px;
  font-weight: bold;
  margin: 16px 0;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.ButtonPlay {
  background: linear-gradient(hsl(194, 90%, 54%), hsl(208, 90%, 54%));
  border-radius: 24px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.4px;
  padding: 8px 26px;
  transition: all .1s ease-out;
  text-transform: uppercase;

  &:hover {
    background: linear-gradient(hsl(192, 90%, 54%), hsl(206, 90%, 54%));
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 1px;
    margin-top: -1px;
  }

  i {
    font-size: 1.5rem;
  }
}

.ContentCard {
  background-color: #2B2C31;
  border-radius: 4px;
  width: 90%;
  height: 750px;
  margin: auto;
  margin-top: -125px;
  z-index: 1;
}
