.Controls {
  position: absolute;
  top: 0; left: 0;
  padding: 12px;
  z-index: 1;
}

.CloseControl,
.MinimizeControl,
.MaximizeControl {
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 12px;
  margin: 0 3px;
  width: 12px;

  &:focus {
    outline: 0;
  }
}

.CloseControl {
  background-color: #CF4747;

  &:hover {
    background-color: #FC5252;
  }
}

.MinimizeControl {
  background-color: #CCB544;

  &:hover {
    background-color: #FCDF52;
  }
}

.MaximizeControl {
  background-color: #36A336;

  &:hover {
    background-color: #42C942;
  }
}

.Bar {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  background-color: #2B2C31;
  color: white;
  display: flex;
  height: 24px;
  justify-content: flex-end;
  margin-bottom: 12px;
  position: relative;
  z-index: 15;

  p {
    margin-left: 12px;
    text-align: center;
  }
}

.WinControls {
  display: flex;

  button {
    -webkit-app-region: no-drag;
    align-items: center;
    color: #fff;
    display: flex;
    font-size: 1rem;
    height: 24px;
    justify-content: center;
    padding: 0;
    width: 24px;
  }
}

.WinClose {
  font-size: 1.15rem;

  &:hover {
    background-color: #F44336;
  }
}

.WinMaximize,
.WinMinimize {
  &:hover {
    background-color: #444;
  }
}
