.TopBar {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  background-color: #36393E;
  box-shadow: 0 1px 4px #2c2c2c;
  height: 52px;
  padding: 12px;
  position: fixed;
  width: 100%;
}

.PrevButton {
  -webkit-app-region: no-drag;
  color: white;
}
