.Profile {
  align-items: center;
  background-color: #2B2C31;
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: 72px;
  position: absolute;
  width: 100%;
}

.ProfileImg {
  border-radius: 50%;
  height: 36px;
  margin-left: 12px;
  width: 36px;
}

.ProfileInfo {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  margin-left: 12px;
  width: 100%;
}

.Name {
  font-weight: 100;
  margin-bottom: 8px;
}

.ExpBar {
  background-color: #404040;
  border-radius: 24px;
  height: 3px;
}

.ExpBarFill {
  background-color: hsl(208, 90%, 54%);
  border-radius: 24px;
  height: 3px;
  width: 0;
}

.Level {
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 8px;
  opacity: 0.6;
}


.OptionsButton {
  color: white;
  cursor: pointer;
  opacity: 0.8;

  i {
    border-radius: 4px;
    font-size: 1.25rem !important;
    margin: 0 6px;
    pointer-events:none;
    transition: all 0.2s ease;
  }

  &:hover {
    opacity: 1;
  }
}
