.Dropdown {
  background-color: #2F3136;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  display: none;
  margin-left: 18px;
  position: fixed;
  top: 230px;
  transition: all 1s ease;

  &.show {
    display: block;
  }
}

.Content {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.Head {
  background-color: #2B2C31;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 12px;
}

.Row {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: 6px 12px;

  &:hover {
    background-color: #2091f3;
  }

  img {
    height: 42px;
    margin-right: 12px;
  }

  p {
    margin-right: 12px;
  }
}
