.Header {
  background-color: #2B2C31;
  background-size: 100%;
  background-position: center;
  height: 236px;
  position: relative;
  z-index: -1;
}

.Overlay {
  -webkit-mask-image: -webkit-linear-gradient(top, transparent 30%, black 100%);
  background-color: rgba(47, 49, 54, 0.9);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0
}

.Title {
  bottom: 60px;
  font-size: 60px;
  font-weight: bold;
  left: 18px;
  position: absolute;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}
