.Header {
  background-color: #2B2C31;
  background-size: 100%;
  background-position: center;
  height: 236px;
  position: relative;
}

.Overlay {
  -webkit-mask-image: -webkit-linear-gradient(top, transparent 30%, black 100%);
  background-color: rgba(47, 49, 54, 0.9);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0
}

.Title {
  bottom: 60px;
  font-size: 60px;
  font-weight: bold;
  left: 18px;
  position: absolute;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.ConfigButtons {
  align-items: center;
  bottom: 24px;
  display: flex;
  position: absolute;
  right: 24px;

  button {
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: #2B2C31;
    cursor: pointer;
    font-size: 1.25rem;
    margin-right: 12px;
    padding: 9px 12px;

    i {
      pointer-events: none;
    }

    &:hover {
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      margin-bottom: 1px;
    }
  }
}
