@import "~font-awesome/css/font-awesome.css";
@import "~toastr/build/toastr.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
  color: white;
  background-color: #36393E;
  bottom: 0;
  font-family: "Open Sans";
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
}

a {
  color: white;
  text-decoration: none !important;
}

.content-container {
  bottom: 0;
  left: 220px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.2s ease-out;
  width: auto;
}

.content {
  height: 100%;
  padding-top: 52px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

#toast-container > div {
  -moz-box-shadow: 0 0 12px #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -webkit-box-shadow: 0 0 12px #000000;
  box-shadow: 0 0 12px #000000;
  cursor: pointer;
  filter: alpha(opacity=100);
  opacity: 1;
}

p {
  margin: 0;
}

.slick-prev {
  left: -15px;
}

.slick-next {
  right: -15px;
}

.gameshow .slick-prev {
  left: -25px;
}

.gameshow .slick-next {
  right: -25px;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
  color: white;
}

.gameshow .slick-slide.slick-active {
  height: 405px;
  width: 100% !important;
}
