@import "~font-awesome/css/font-awesome.css";
@import "~toastr/build/toastr.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: 0;
  font-family: "Open Sans";
  background-color: #36393E;
  color: white;
}

a {
  color: white;
  text-decoration: none !important;
}

.content-container {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 220px;
  width: auto;
  transition: all 0.2s ease-out;
  overflow-x: hidden;
  overflow-y: scroll;
}

.content {
  padding-top: 52px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

#toast-container > div {
  -moz-box-shadow: 0 0 12px #000000;
  -webkit-box-shadow: 0 0 12px #000000;
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  cursor: pointer;
}

p {
  margin: 0;
}

.slick-prev {
  left: -15px;
}

.slick-next {
  right: -15px;
}
