.Wrapper {
  margin-top: 18px;
  padding: 0 30px;
}

.SliderImage {
  height: 130px;
  margin: auto;
  width: 265px;
}

.Title {
  font-size: 18px;
  font-weight: bold;
  margin: 6px 0;
}

.Divider {
  background-color: #4A4C51;
  height: 1px;
  margin-bottom: 12px;
  width: 100%;
}

.Grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Category {
  align-items: center;
  background: linear-gradient(#2B2C31, #2b2b31);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-basis: 33%;
  flex-direction: column;
  height: 320px;
  justify-content: center;
  margin-bottom: 24px;
  max-width: 290px;

  i {
    font-size: 3rem;
    margin-bottom: 18px;
  }

  p {
    font-size: 2rem;
    font-weight: 100;
  }
}
