.SliderWrapper {
  margin-top: 18px;
  padding: 0 30px;
}

.SliderImage {
  height: 112px;
  margin: auto;
  width: 240px;
}

.SliderTitle {
  font-size: 18px;
  font-weight: bold;
  margin: 6px 0;
}

.Divider {
  background-color: #4A4C51;
  height: 1px;
  margin-bottom: 6px;
  width: 100%;
}
